/* -------------------------
TYPOGRAPHY
-------------------------- */
@import url(https://fonts.googleapis.com/css?family=Raleway);
@import url(https://fonts.googleapis.com/css?family=Slabo+27px);
/* -------------------------
COLORS
-------------------------- */
/* -------------------------
MIXINS
-------------------------- */
/* -------------------------
TAGS
-------------------------- */
body {
  font-family: "Slabo 27px", serif;
  position: relative; }

section, div {
  box-sizing: border-box;
  vertical-align: top; }

a {
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s; }

/* -------------------------
IDs
-------------------------- */
#board {
  width: 1200px;
  margin: 0 auto; }
  #board > section {
    display: inline-block; }
  #board .player-1 {
    background-color: rgba(59, 130, 196, 0.4); }
  #board .player-2 {
    background-color: rgba(204, 0, 0, 0.4); }
  #board .player-1.player-2 {
    background: rgba(0, 0, 0, 0.3);
    /* Old browsers */
    background: -moz-linear-gradient(left, rgba(59, 130, 196, 0.4) 0%, rgba(59, 130, 196, 0.4) 45%, rgba(204, 0, 0, 0.4) 55%, rgba(204, 0, 0, 0.4) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(59, 130, 196, 0.4) 0%, rgba(59, 130, 196, 0.4) 45%, rgba(204, 0, 0, 0.4) 55%, rgba(204, 0, 0, 0.4) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(59, 130, 196, 0.4) 0%, rgba(59, 130, 196, 0.4) 45%, rgba(204, 0, 0, 0.4) 55%, rgba(204, 0, 0, 0.4) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#58a8da', endColorstr='#de756e',GradientType=1 );
    /* IE6 */ }

/* -------------------------
CLASSES
-------------------------- */
/* ------ BOARD STRUCTURE ------ */
.column-1 > div, .column-2 > div, .column-3 > div, .column-4 > div {
  width: 150px;
  height: 150px; }

.column- {
  /* end of column-1 */
  /* end of column-2 */
  /* end of column-3 */
  /* end of column-4 */ }
  .column-1 > div {
    border: 1px solid;
    border-right: none;
    -webkit-transform: rotateZ(90deg);
    -moz-transform: rotateZ(90deg);
    transform: rotateZ(90deg); }
    .column-1 > div:first-child {
      border-top: 1px solid;
      border-right: 1px solid; }
    .column-1 > div:nth-child(2) {
      border-left: none; }
    .column-1 > div:last-child {
      border-right: 1px solid; }
  .column-2 > div {
    border: 1px solid;
    border-right: none;
    display: inline-block;
    -webkit-transform: rotateZ(180deg);
    -moz-transform: rotateZ(180deg);
    transform: rotateZ(180deg); }
    .column-2 > div:last-child {
      border-left: none; }
  .column-3 > div {
    border: 1px solid;
    border-right: none;
    -webkit-transform: rotateZ(270deg);
    -moz-transform: rotateZ(270deg);
    transform: rotateZ(270deg); }
    .column-3 > div:first-child {
      border-bottom: 1px solid;
      border-right: 1px solid; }
    .column-3 > div:nth-last-child(2) {
      border-left: none; }
    .column-3 > div:last-child {
      border-right: 1px solid; }
  .column-4 > div {
    border: 1px solid;
    border-right: none;
    display: inline-block; }
    .column-4 > div:first-child {
      border-left: none; }

/* end of column- */
.board-center > section {
  display: block; }

/* ------ END BOARD STRUCTURE ------ */
/* ------ CELL TYPES ------ */
.property-cell, .utility-cell, .ball-cell, .attack-cell, .legendary-cell, .go-cell, .jail-cell, .gotojail-cell {
  text-align: center;
  position: relative; }
  .property-cell span, .property-cell img, .utility-cell span, .utility-cell img, .ball-cell span, .ball-cell img, .attack-cell span, .attack-cell img, .legendary-cell span, .legendary-cell img, .go-cell span, .go-cell img, .jail-cell span, .jail-cell img, .gotojail-cell span, .gotojail-cell img {
    display: block; }

.property-cell span.name, .ball-cell span.name, .attack-cell span.name, .legendary-cell span.name {
  font-family: "Slabo 27px", serif;
  font-size: 18px;
  margin: 0; }
.property-cell span.city, .ball-cell span.city, .attack-cell span.city, .legendary-cell span.city {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-size: 10px;
  margin: 0 0 5px 0; }
.property-cell span.value, .ball-cell span.value, .attack-cell span.value, .legendary-cell span.value {
  font-family: "Raleway", sans-serif;
  font-size: 13px; }
.property-cell span.owner, .ball-cell span.owner, .attack-cell span.owner, .legendary-cell span.owner {
  width: 15px;
  height: 15px;
  position: absolute;
  bottom: 8px;
  right: 10px;
  border: 1px solid; }
.property-cell img, .ball-cell img, .attack-cell img, .legendary-cell img {
  height: 65px;
  width: 65px;
  margin: 5px auto 0; }

.ball-cell span.name {
  margin: 0 0 3px 0; }
.ball-cell img {
  margin: 10px auto 5px; }

.attack-cell img, .legendary-cell img {
  margin: 10px auto 0;
  height: 75px;
  width: 75px; }

.legendary-cell.zapdos img {
  margin: 0 auto; }

.go-cell > div {
  padding: 10px 35px 40px;
  -webkit-transform: rotateZ(-45deg);
  -moz-transform: rotateZ(-45deg);
  transform: rotateZ(-45deg);
  overflow: hidden; }
  .go-cell > div span.title {
    font-family: "Slabo 27px", serif;
    color: #0d4da4;
    font-weight: bold;
    font-size: 15px;
    margin: 0 0 10px 4px; }
  .go-cell > div img {
    width: 110px;
    position: relative;
    left: -15px; }

/* ------ END CELL TYPES  ------ */
/* ------ MAIN CENTER CONTENT  ------ */
.board-center {
  width: 900px;
  height: 900px;
  padding: 40px;
  text-align: center; }
  .board-center h1, .board-center h2 {
    margin: 0; }
  .board-center h1 {
    font-size: 28px;
    color: #534a58;
    text-align: center; }
  .board-center h2 {
    text-align: left;
    font-size: 19px; }

.player-info {
  text-align: justify; }
  .player-info:after {
    content: '';
    display: inline-block;
    width: 100%; }
  .player-info > div {
    border: 1px solid;
    height: 400px;
    width: 49%;
    padding: 10px;
    display: inline-block;
    vertical-align: top; }
    .player-info > div h1 span {
      display: block; }
  .player-info .player-1-info h1 {
    color: #3b82c4; }
  .player-info .player-2-info h1 {
    color: #cc0000; }
  .player-info .property {
    border: 1px solid #3b82c4; }
    .player-info .property ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      height: 100px;
      overflow: auto; }
      .player-info .property ul li .bullet {
        color: #f4d77c;
        font-size: 20px; }
    .player-info .property img {
      width: 30px;
      height: 30px; }

/*  end of player-info */
.turn-info {
  border: 1px solid;
  height: 200px;
  text-align: justify;
  font-size: 0; }
  .turn-info > div {
    width: 49%;
    display: inline-block;
    border: 1px solid;
    font-size: 14px;
    text-align: center;
    vertical-align: top; }
  .turn-info h2 {
    font-size: 25px;
    margin: 0 auto;
    text-align: center;
    color: #009933; }
  .turn-info:after {
    content: '';
    display: inline-block;
    width: 100%; }
  .turn-info .roll .roll-value {
    font-size: 20px;
    color: #009933; }
  .turn-info .roll .roll-button {
    background: #009933;
    border: 1px solid #009933;
    color: #FFF;
    padding: 15px;
    width: 200px;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    transition: 0.5s;
    font-family: "Slabo 27px", serif;
    outline: none;
    display: block;
    margin: 0 auto;
    font-size: 15px; }
    .turn-info .roll .roll-button:hover {
      cursor: pointer;
      background: #00802b;
      border: 1px solid #00802b; }
  .turn-info .cell-info {
    margin: 0 auto;
    padding: 0 40px;
    text-align: justify; }
    .turn-info .cell-info:after {
      content: '';
      display: inline-block;
      width: 100%; }
    .turn-info .cell-info h2, .turn-info .cell-info h3 {
      margin: 0;
      color: #8fc4d1; }
    .turn-info .cell-info > * {
      vertical-align: top; }
    .turn-info .cell-info > div {
      border: 1px solid;
      display: inline-block; }
    .turn-info .cell-info img {
      width: 65px;
      border: 1px solid;
      display: inline-block; }
    .turn-info .cell-info .cell-details {
      width: 70%; }
      .turn-info .cell-info .cell-details h3 {
        font-size: 20px; }

/* end turn-info */
/* ------ END MAIN CENTER CONTENT  ------ */
/* ------ WELCOME MODAL  ------ */
.start-modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  text-align: center; }
  .start-modal:after {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle; }
  .start-modal .modal-content {
    width: 900px;
    border: 2px solid #ffcb05;
    box-shadow: 0 0 15px rgba(255, 203, 5, 0.5);
    padding: 40px;
    text-align: center;
    background-color: #FFF;
    vertical-align: middle;
    display: inline-block; }
    .start-modal .modal-content img.logo {
      width: 600px;
      display: block;
      margin: 0 auto; }
    .start-modal .modal-content button {
      font-family: "Slabo 27px", serif;
      color: #FFF;
      display: block;
      background-color: #009933;
      border: 1px solid #009933;
      padding: 20px 0;
      margin: 0 auto;
      width: 300px;
      outline: none;
      -webkit-transition: 0.5s;
      -moz-transition: 0.5s;
      transition: 0.5s; }
      .start-modal .modal-content button:hover {
        cursor: pointer;
        border: 1px solid #00802b;
        background: #00802b; }
      .start-modal .modal-content button.disabled {
        border: 1px solid #bfbfbf;
        background-color: #bfbfbf;
        cursor: default; }

.players {
  text-align: justify;
  margin: 20px 0 0 0; }
  .players:after {
    content: '';
    width: 100%;
    display: inline-block; }
  .players > div {
    width: 49%;
    display: inline-block;
    padding: 20px; }
    .players > div img {
      width: 60px;
      vertical-align: bottom; }
    .players > div span {
      display: inline-block; }
  .players h3 {
    color: #000;
    text-align: center;
    margin: 0 0 10px 0;
    font-size: 22px; }
  .players input[type="text"] {
    font-family: "Slabo 27px", serif;
    padding: 8px;
    outline: none;
    margin: 0 10px;
    font-size: 15px;
    width: 250px; }
  .players input[type="radio"] {
    display: none; }
    .players input[type="radio"] + label {
      display: inline-block;
      width: 70px;
      height: 75px; }
      .players input[type="radio"] + label.ash-1, .players input[type="radio"] + label.ash-2 {
        background: url("../images/ash_gray_70.png") no-repeat; }
      .players input[type="radio"] + label.misty-1, .players input[type="radio"] + label.misty-2 {
        background: url("../images/misty_gray_70.png") no-repeat; }
      .players input[type="radio"] + label.brock-1, .players input[type="radio"] + label.brock-2 {
        background: url("../images/brock_gray_70.png") no-repeat; }
    .players input[type="radio"]:checked + label {
      display: inline-block;
      width: 60px;
      height: 70px; }
      .players input[type="radio"]:checked + label.ash-1, .players input[type="radio"]:checked + label.ash-2 {
        background: url("../images/ash_70.png"); }
      .players input[type="radio"]:checked + label.misty-1, .players input[type="radio"]:checked + label.misty-2 {
        background: url("../images/misty_70.png"); }
      .players input[type="radio"]:checked + label.brock-1, .players input[type="radio"]:checked + label.brock-2 {
        background: url("../images/brock_70.png"); }
  .players .player-1 {
    background-color: rgba(59, 130, 196, 0.2);
    border: 1px solid #76b8e1; }
    .players .player-1 h3 {
      color: #3b82c4; }
    .players .player-1 input[type="text"] {
      border: 1px solid #3b82c4; }
      .players .player-1 input[type="text"]:focus {
        border: 1px solid #76b8e1;
        box-shadow: 0 0 10px #76b8e1; }
  .players .player-2 {
    background-color: rgba(204, 0, 0, 0.2);
    border: 1px solid #e48f89; }
    .players .player-2 h3 {
      color: #cc0000; }
    .players .player-2 input[type="text"] {
      border: 1px solid #cc0000; }
      .players .player-2 input[type="text"]:focus {
        border: 1px solid #e48f89;
        box-shadow: 0 0 10px #e48f89; }

/* ------ END WELCOME MODAL  ------ */
/* ------ OTHER  ------ */
.hide {
  display: none; }

.show {
  display: block; }

/* ------ END OTHER  ------ */

/*# sourceMappingURL=styles.css.map */
