/* -------------------------
TYPOGRAPHY
-------------------------- */
@import url(https://fonts.googleapis.com/css?family=Raleway);
@import url(https://fonts.googleapis.com/css?family=Slabo+27px);
$raleway: 'Raleway', sans-serif;
$slabo: 'Slabo 27px', serif;

/* -------------------------
COLORS
-------------------------- */
$voltorb: #e48f89;
$charizard: #f1a563;
$pikachu: #f4d77c;
$bulbasaur: #8abd8a;
$bulbasaurHover: #6dac6d;
$squirtle: #8fc4d1;
$haunter: #534a58;
$hitmonlee: #c7b7a7;
$magnemite: #a1c1cb;
$mewtwo: #ca9ecb;
$mew: #e9c1cc;
$articuno: #76b8e1;
$zapdos: #ffe081;
$pokeball: #f18e38;
$greatball: #3b82c4;
$ultraball: #677280;
$masterball: #7e308e;
$player1: #4f94a4;
$player1rgb: rgb(79, 148, 164);
$player1rgba: rgba(79, 148, 164, 0.4);
$player2: #a44f4f;
$player2rgb: rgb(164, 79, 79);
$player2rgba: rgba(164, 79, 79, 0.4);
$attack: #cc0000;
$attackHover: #b30000;

/* -------------------------
MIXINS
-------------------------- */
@mixin transition($duration) {
  -webkit-transition: $duration;
  -moz-transition: $duration;
  transition: $duration;
}


/* -------------------------
TAGS
-------------------------- */
body {
  font-family: $slabo;
  position: relative;
  text-align: center;
}

section, div {
  box-sizing: border-box;
  vertical-align: top;
}

a {
  @include transition(0.5s);
}

p {
  margin: 5px 0;
}

/* -------------------------
IDs
-------------------------- */
#main {
  text-align: center;
  width: 1200px;
  margin: 0 auto;
  font-size: 0;
  line-height: 0;
  overflow: hidden;

  &:after {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
}

#board {
  width: 1200px;
  margin: 0 auto;
  display: inline-block;
  vertical-align: middle;

  > * {
    line-height: normal;
  }

  > section {
    display: inline-block;
  }

  .player-1 {
    background-color: $player1rgba;
  }

  .player-2 {
    background-color: $player2rgba;
  }

  .player-1.player-2 {
    background: rgba(0,0,0,0.3); /* Old browsers */
    background: -moz-linear-gradient(left, $player1rgba 0%, $player1rgba 45%, $player2rgba 55%, $player2rgba 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, $player1rgba 0%, $player1rgba 45%, $player2rgba 55%, $player2rgba 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, $player1rgba 0%, $player1rgba 45%, $player2rgba 55%, $player2rgba 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4f94a4', endColorstr='#a44f4f',GradientType=1 ); /* IE6 */
  }
}

/* -------------------------
CLASSES
-------------------------- */

/* ------ BOARD STRUCTURE ------ */
.column-1 > div, .column-2 > div, .column-3 > div, .column-4 > div {
  width: 150px;
  height: 150px;
}

.column- {
  &1 {
    > div {
      border: 1px solid;
      border-right: none;
      -webkit-transform: rotateZ(90deg);
      -moz-transform: rotateZ(90deg);
      transform: rotateZ(90deg);

        &:first-child {
          border-top: 1px solid;
          border-right: 1px solid;
        }
        &:nth-child(2) {
          border-left: none;
        }
        &:last-child {
          border-right: 1px solid;
        }
    }
  } /* end of column-1 */

  &2 {
    > div {
      border: 1px solid;
      border-right: none;
      display: inline-block;
      -webkit-transform: rotateZ(180deg);
      -moz-transform: rotateZ(180deg);
      transform: rotateZ(180deg);

        &:last-child {
          border-left: none;
        }
    }
  } /* end of column-2 */

  &3 {
    > div {
      border: 1px solid;
      border-right: none;
      -webkit-transform: rotateZ(270deg);
      -moz-transform: rotateZ(270deg);
      transform: rotateZ(270deg);

        &:first-child {
          border-bottom: 1px solid;
          border-right: 1px solid;
        }
        &:nth-last-child(2) {
          border-left: none;
        }
        &:last-child {
          border-right: 1px solid;
        }
    }
  } /* end of column-3 */

  &4 {
    > div {
      border: 1px solid;
      border-right: none;
      display: inline-block;

        &:first-child {
          border-left: none;
        }
    }
  } /* end of column-4 */
} /* end of column- */

/* ------ END BOARD STRUCTURE ------ */

/* ------ CELL TYPES ------ */
.property-cell, .ball-cell, .attack-cell, .legendary-cell, .go-cell, .jail-cell, .gotojail-cell, .parking-cell {
  text-align: center;
  position: relative;

  span, img {
    display: block;
  }
}

.property-cell, .ball-cell, .attack-cell, .legendary-cell, .parking-cell {
  span {
    &.name {
      font-family: $slabo;
      font-size: 18px;
      margin: 0;
    }
    &.city {
      font-family: $raleway;
      text-transform: uppercase;
      font-size: 10px;
      margin: 0 0 5px 0;
    }
    &.value {
      font-family: $raleway;
      font-size: 13px
    }
    &.owner {
      width: 15px;
      height: 15px;
      position: absolute;
      bottom: 8px;
      right: 10px;
      border: 1px solid;
    }
  }

  img {
    height: 65px;
    width: 65px;
    margin: 5px auto 0;
  }
}

.ball-cell {
  span {
    &.name {
      margin: 0 0 3px 0;
    }
  }

  img {
    margin: 10px auto 5px;
  }
}

.attack-cell, .legendary-cell {
  img {
    margin: 10px auto 0;
    height: 75px;
    width: 75px;
  }
}

.go-cell {
  > div {
    padding: 10px 35px 40px;
    -webkit-transform: rotateZ(-45deg);
      -moz-transform: rotateZ(-45deg);
      transform: rotateZ(-45deg);
    overflow: hidden;

    span {
      &.title {
        font-family: $slabo;
        color: #0d4da4;
        font-weight: bold;
        font-size: 15px;
        margin: 0 0 10px 4px;
      }
    }
    img {
      width: 110px;
      position: relative;
      left: -15px;
    }
  }
}

.parking-cell {

  > div {
    transform: rotateZ(-45deg);
    padding: 20px 20px 0 0;
  }

  .title {
    font-size: 18px;
  }
}

.jail-cell, .gotojail-cell {

  > div {
    transform: rotateZ(45deg);
    padding: 0 0 0 20px;
  }

  img {
    width: 90px;
    margin: 0 auto;
  }

  .title {
    font-size: 18px;
    margin: 0 0 3px 0;
  }
}
/* ------ END CELL TYPES  ------ */

/* ------ MAIN CENTER CONTENT  ------ */
.board-center {
  width: 900px;
  height: 900px;
  padding: 30px 50px;
  text-align: center;
  background: url('../images/pokemonopoly.png') no-repeat center bottom;
  background-size: 800px;

  > section {
    display: block;
  }

  img.logo {
    width: 700px;
    display: inline-block;
    margin: 10px auto;
  }

  h1, h2 {
    margin: 0;
  }

  h1 {
    font-size: 30px;
    text-align: center;
  }

  h2 {
    text-align: left;
    font-size: 19px;
  }
}

.player-info {
  text-align: justify;
  margin: 40px 0 0 0;
  background: #FFF;
  opacity: 0.9;

  &:after {
    content: '';
    display: inline-block;
    width: 100%;
  }

  > div {
    border: 1px solid;
    height: 350px;
    width: 48%;
    padding: 10px;
    display: inline-block;
    vertical-align: top;

    h1 span {
      display: block;
    }
  }

  .player-1-info {
    h1 {
      color: $player1;
    }
  }

  .player-2-info {
    h1 {
      color: $player2;
    }
  }

  .jail-info {
    color: $attack;
    margin: 0;
  }

  .properties {

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      height: 180px;
      overflow: auto;
      font-size: 22px;

      img {
        width: 45px;
        height: 45px;
        vertical-align: bottom;
      }

      li {
        margin: 10px 0 0 0;

        span {
          display: inline-block;
          margin: 0 5px;
        }

        .bullet {
          font-size: 15px;
        }
      }
    }

    img {
      width: 30px;
      height: 30px;
    }
  }
} /*  end of player-info */

.turn-info {
  text-align: justify;
  font-size: 0;

  > div {
    width: 48%;
    display: inline-block;
    font-size: 14px;
    text-align: center;
    vertical-align: top;
    margin: 10px 0 0 0;

    &.roll {
      position: relative;
    }
  }

  h2 {
    font-size: 25px;
    border-bottom: 1px solid;
    margin: 0 auto 10px auto;
    text-align: center;
    color: $bulbasaur;
  }

  h3 {

    &.jackpot-title {
      color: #000;
      margin: 0 auto;
      font-size: 15px;
      text-align: center;
    }
  }

  &:after {
    content: '';
    display: inline-block;
    width: 100%;
  }

  .roll {

    .roll-value {
      font-size: 25px;
      color: $bulbasaur;
    }

    .roll-image {
      margin: 15px 0 10px 0;
    }

    .roll-button, .jail-roll-button {
      background: $bulbasaur;
      border: 1px solid $bulbasaur;
      color: #FFF;
      padding: 10px;
      width: 200px;
      @include transition(0.5s);
      font-family: $slabo;
      outline: none;
      display: block;
      margin: 10px auto 0;
      font-size: 15px;
      position: relative;
      width: 200px;

      &:hover {
        cursor: pointer;
        background: $bulbasaurHover;
        border: 1px solid $bulbasaurHover;
      }

      &.disabled {
          border: 1px solid #bfbfbf;
          background-color: #bfbfbf;
          cursor: default;
        }
    }

    .jail-roll-button {
      background: $attack;
      border: 1px solid $attack;
      position: absolute;
      bottom: 0;
      left: 92px;

      &:hover {
        cursor: pointer;
        background: $attackHover;
        border: 1px solid $attackHover;
      }
    }
  }

  .cell-info {
    text-align: justify;
    color: #000;

    &:after {
      content: '';
      display: inline-block;
      width: 100%;
    }

    h3 {
      margin: 0;
    }

    > * {
      vertical-align: top;
    }

    > div {
      display: inline-block;
      vertical-align: top;
    }

    img {
        width: 65px;
        display: inline-block;
        vertical-align: top;
        margin: 0;
      }

    .cell-details {
      width: 75%;

      h3 {
        font-size: 20px;
      }
    }

    .notification {
      text-align: center;
      width: 100%;
      padding: 10px 20px;
      border: 1px solid $bulbasaur;
      margin: 10px 0 0 0;

      h2 {
        color: $bulbasaur;
        border-bottom: none;
        margin: 0;
      }

      p {
        font-size: 15px;
      }

      a {
        display: inline-block;
        color: #FFF;
        @include transition(0.5s);
        margin: 10px 5px 0 5px;
        padding: 5px 20px;

        &:hover {
          cursor: pointer;
        }
      }

      .property-ok {
        display: block;
        width: 40px;
        margin: 10px auto 0 auto;
      }

      .green {
        background-color: $bulbasaur;

        &:hover {
          background-color: $bulbasaurHover;
        }
      }
      .red {
        background-color: $attack;

        &:hover {
          background-color: $attackHover;
        }
      }
    }
  }
} /* end turn-info */

/* ------ END MAIN CENTER CONTENT  ------ */

/* ------ WELCOME MODAL  ------ */
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0,0,0,0.8);
  text-align: center;
  white-space: nowrap;

  &:after {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }

  .modal-content {
    width: 900px;
    border: 2px solid #ffcb05;
    box-shadow: 0 0 15px rgba(255, 203, 5, 0.5);
    padding: 40px;
    text-align: center;
    background-color: #FFF;
    vertical-align: middle;
    display: inline-block;
    white-space: normal;

    img {
      &.logo {
        width: 600px;
        display: block;
        margin: 0 auto;
      }
    }

    button {
      font-family: $slabo;
      color: #FFF;
      display: block;
      background-color: $bulbasaur;
      border: 1px solid $bulbasaur;
      padding: 20px 0;
      margin: 0 auto;
      width: 300px;
      outline: none;
      @include transition(0.5s);

        &:hover {
          cursor: pointer;
          border: 1px solid $bulbasaurHover;
          background: $bulbasaurHover;
        }

        &.disabled {
          border: 1px solid #bfbfbf;
          background-color: #bfbfbf;
          cursor: default;
        }
     }

     &.winner {
      text-align: center;
      vertical-align: middle;

      h1 {
        color: $greatball;
        font-size: 45px;
      }

      p, img {
        display: inline-block;
        vertical-align: middle;
        width: 49%;
      }

      img {
        width: 200px;
        vertical-align: middle;
      }
     }
  }
}

.players {
    text-align: justify;
    margin: 20px 0 0 0;

  &:after {
      content: '';
      width: 100%;
      display: inline-block;
    }

  > div {
    width: 49%;
    display: inline-block;
    padding: 20px;

    img {
      width: 60px;
      vertical-align: bottom;
    }

    span {
        display: inline-block;
    }
  }

  h3 {
    color: #000;
    text-align: center;
    margin: 0 0 10px 0;
    font-size: 22px;
  }

  input[type="text"] {
    font-family: $slabo;
    padding: 8px;
    outline: none;
    margin: 0 10px;
    font-size: 15px;
    width: 250px;
  }

  input[type="radio"] {
    display: none;

    &+ label {
      display: inline-block;
      width: 70px;
      height: 75px;


      &.ash-1 , &.ash-2{
        background: url('../images/ash_gray_70.png') no-repeat;
      }
      &.misty-1, &.misty-2 {
        background: url('../images/misty_gray_70.png') no-repeat;
      }
      &.brock-1, &.brock-2 {
        background: url('../images/brock_gray_70.png') no-repeat;
      }
    }

    &:checked {
      &+ label {
        display: inline-block;
        width: 60px;
        height: 70px;

        &.ash-1, &.ash-2 {
          background: url('../images/ash_70.png');
        }
        &.misty-1, &.misty-2 {
          background: url('../images/misty_70.png');
        }
        &.brock-1, &.brock-2 {
          background: url('../images/brock_70.png');
        }
      }
    }
  }


  .player-1 {
    color: $player1;
    border: 1px solid $player1;

    h3 {
      color: $player1;
    }

    input[type="text"] {
      color: $player1;
      border: 1px solid $player1;

      &:focus {
        border: 1px solid $player1;
        box-shadow: 0 0 10px $player1rgb;
      }
    }
  }

  .player-2 {
    color: $player2;
    border: 1px solid $player2;

    h3  {
      color: $player2;
    }

    input[type="text"] {
      color: $player2;
      border: 1px solid $player2;

      &:focus {
        border: 1px solid $player2;
        box-shadow: 0 0 10px $player2rgb;
      }
    }
  }
}
/* ------ END WELCOME MODAL  ------ *

/* ------ OTHER  ------ */
.hide {
  display: none !important;
}

.show {
  display: block;
}

.reset {
  background-color: #FFF;
  opacity: 0.9;
  padding: 20px 0;
  font-size: 15px;
}

.reset-button {
    display: block;
    color: #FFF;
    background: $magnemite;
    @include transition(0.5s);
    padding: 15px;
    width: 200px;
    margin: 0 auto;
    text-align: center;

    &:hover {
      cursor: pointer;
      background: #7ca8b6;
    }
  }
/* ------ END OTHER  ------ */

/* ----- ANIMATION ----- */
.player-turn-name {
  animation-name: spin;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  display: inline-block;
}

@keyframes spin {
  0%, 10% {
    transform: rotateY(0deg);
  }
  90%, 100% {
    transform: rotateY(360deg);
  }
}

