/* -------------------------
TYPOGRAPHY
-------------------------- */
@import url(https://fonts.googleapis.com/css?family=Raleway);
@import url(https://fonts.googleapis.com/css?family=Slabo+27px);
$raleway: 'Raleway', sans-serif;
$slabo: 'Slabo 27px', serif;

/* -------------------------
COLORS
-------------------------- */
$voltorb: #e48f89;
$charizard: #f1a563;
$pikachu: #f4d77c;
$bulbasaur: #8abd8a;
$squirtle: #8fc4d1;
$haunter: #534a58;
$hitmonlee: #c7b7a7;
$magnemite: #a1c1cb;
$mewtwo: #ca9ecb;
$mew: #e9c1cc;
$articuno: #76b8e1;
$zapdos: #ffe081;

/* -------------------------
TAGS
-------------------------- */

section, div {
  box-sizing: border-box;
  vertical-align: top;
}

/* -------------------------
IDs
-------------------------- */
#board {
  width: 1200px;
  margin: 0 auto;

  section {
    display: inline-block;
  }

  > section {
  }
}

/* -------------------------
CLASSES
-------------------------- */
.column-1 > div, .column-2 > div > div, .column-3 > div {
  width: 150px;
  height: 150px;
}

.column- {
  &1 {
    > div {
      border: 1px solid;
      border-top: none;

      &:first-child {
        border-top: 1px solid;
      }
      &:nth-last-child(2) {
        border-bottom: none;
      }
      &:last-child {
        border-top: 1px solid;
      }
    }
  } /* end of column-1 */

  &2 {
    > div > div {
      border: 1px solid;
      display: inline-block;
    }

    .top-row > div {
      border-right: none;

      &.rotate {
        transform: rotateZ(180deg);
      }
      &:first-child {
        border-left: none;
      }
    }

    .bottom-row > div {
      border-right: none;

        &:first-child {
          border-left: none;
        }
    }

  } /* end of column-2 */

  &3 {
    > div {
      border: 1px solid;
      border-bottom: none;

        &:first-child {
          border-bottom: 1px solid;
        }
        &:nth-child(2) {
          border-top: none;
        }
        &:last-child {
          border-bottom: 1px solid;
        }
    }
  } /* end of column-3 */
} /* end of column- */

.center-cell {
  width: 900px;
  height: 900px;
}

/* ------ CELLS ------ */
.property-cell, .utility-cell, .ball-cell, .attack-cell {
  text-align: center;
  position: relative;
}

.property-cell {
  span {
    display: block;

    &.name {
      font-family: $slabo;
      font-size: 18px;
      margin: 0;
    }
    &.city {
      font-family: $raleway;
      text-transform: uppercase;
      font-size: 10px;
      margin: 0 0 5px 0;
    }
    &.value {
      font-family: $raleway;
      font-size: 13px
    }
    &.owner {
      width: 15px;
      height: 15px;
      position: absolute;
      bottom: 0px;
      right: 10px;
      border: 1px solid;
    }
  }

  img {
    height: 65px;
    width: 65px;
    display: block;
    margin: 5px auto 0;
  }
}
/* ------ END CELLS  ------ */


