/* -------------------------
TYPOGRAPHY
-------------------------- */
@import url(https://fonts.googleapis.com/css?family=Raleway);
@import url(https://fonts.googleapis.com/css?family=Slabo+27px);
$raleway: 'Raleway', sans-serif;
$slabo: 'Slabo 27px', serif;

/* -------------------------
COLORS
-------------------------- */
$voltorb: #e48f89;
$charizard: #f1a563;
$pikachu: #f4d77c;
$bulbasaur: #8abd8a;
$squirtle: #8fc4d1;
$haunter: #534a58;
$hitmonlee: #c7b7a7;
$magnemite: #a1c1cb;
$mewtwo: #ca9ecb;
$mew: #e9c1cc;
$articuno: #76b8e1;
$zapdos: #ffe081;
$pokeball: #f18e38;
$greatball: #3b82c4;
$ultraball: #677280;
$masterball: #7e308e;

/* -------------------------
TAGS
-------------------------- */

section, div {
  box-sizing: border-box;
  vertical-align: top;
}

/* -------------------------
IDs
-------------------------- */
#board {
  width: 1200px;
  margin: 0 auto;

  section {
    display: inline-block;
  }
}

/* -------------------------
CLASSES
-------------------------- */
.column-1 > div, .column-2 > div, .column-3 > div, .column-4 > div {
  width: 150px;
  height: 150px;
}

.column- {
  &1 {
    > div {
      border: 1px solid;
      border-right: none;
      -webkit-transform: rotateZ(90deg);
      -moz-transform: rotateZ(90deg);
      transform: rotateZ(90deg);

        &:first-child {
          border-top: 1px solid;
          border-right: 1px solid;
        }
        &:nth-child(2) {
          border-left: none;
        }
        &:last-child {
          border-right: 1px solid;
        }
    }
  } /* end of column-1 */

  &2 {
    > div {
      border: 1px solid;
      border-right: none;
      display: inline-block;
      -webkit-transform: rotateZ(180deg);
      -moz-transform: rotateZ(180deg);
      transform: rotateZ(180deg);

        &:last-child {
          border-left: none;
        }
    }
  } /* end of column-2 */

  &3 {
    > div {
      border: 1px solid;
      border-right: none;
      -webkit-transform: rotateZ(270deg);
      -moz-transform: rotateZ(270deg);
      transform: rotateZ(270deg);

        &:first-child {
          border-bottom: 1px solid;
          border-right: 1px solid;
        }
        &:nth-last-child(2) {
          border-left: none;
        }
        &:last-child {
          border-right: 1px solid;
        }
    }
  } /* end of column-3 */

  &4 {
    > div {
      border: 1px solid;
      border-right: none;
      display: inline-block;

        &:first-child {
          border-left: none;
        }
    }
  } /* end of column-4 */
} /* end of column- */

.center-cell {
  width: 900px;
  height: 900px;
}

/* ------ CELLS ------ */
.property-cell, .utility-cell, .ball-cell, .attack-cell, .legendary-cell, .go-cell, .jail-cell, .gotojail-cell {
  text-align: center;
  position: relative;

  span, img {
    display: block;
  }
}

.property-cell, .ball-cell, .attack-cell, .legendary-cell {
  span {
    &.name {
      font-family: $slabo;
      font-size: 18px;
      margin: 0;
    }
    &.city {
      font-family: $raleway;
      text-transform: uppercase;
      font-size: 10px;
      margin: 0 0 5px 0;
    }
    &.value {
      font-family: $raleway;
      font-size: 13px
    }
    &.owner {
      width: 15px;
      height: 15px;
      position: absolute;
      bottom: 8px;
      right: 10px;
      border: 1px solid;
    }
  }

  img {
    height: 65px;
    width: 65px;
    margin: 5px auto 0;
  }
}

.ball-cell {
  span {
    &.name {
      margin: 0 0 3px 0;
    }
  }

  img {
    margin: 10px auto 5px;
  }
}

.attack-cell, .legendary-cell {
  img {
    margin: 10px auto 0;
    height: 75px;
    width: 75px;
  }
}

.legendary-cell {
  &.zapdos {
    img {
      margin: 0 auto;
    }
  }
}

.go-cell {
  > div {
    padding: 10px 35px 40px;
    -webkit-transform: rotateZ(-45deg);
      -moz-transform: rotateZ(-45deg);
      transform: rotateZ(-45deg);
    overflow: hidden;

    span {
      &.title {
        font-family: $slabo;
        color: #0d4da4;
        font-weight: bold;
        font-size: 15px;
        margin: 0 0 10px 4px;
      }
    }
    img {
      width: 110px;
      position: relative;
      left: -15px;
    }
  }

}

/* ------ END CELLS  ------ */


