/* -------------------------
TYPOGRAPHY
-------------------------- */
@import url(https://fonts.googleapis.com/css?family=Raleway);
@import url(https://fonts.googleapis.com/css?family=Slabo+27px);
/* -------------------------
COLORS
-------------------------- */
/* -------------------------
MIXINS
-------------------------- */
/* -------------------------
TAGS
-------------------------- */
body {
  font-family: "Slabo 27px", serif;
  position: relative; }

section, div {
  box-sizing: border-box;
  vertical-align: top; }

/* -------------------------
IDs
-------------------------- */
#board {
  width: 1200px;
  margin: 0 auto; }
  #board section {
    display: inline-block; }

/* -------------------------
CLASSES
-------------------------- */
.column-1 > div, .column-2 > div, .column-3 > div, .column-4 > div {
  width: 150px;
  height: 150px; }

.column- {
  /* end of column-1 */
  /* end of column-2 */
  /* end of column-3 */
  /* end of column-4 */ }
  .column-1 > div {
    border: 1px solid;
    border-right: none;
    -webkit-transform: rotateZ(90deg);
    -moz-transform: rotateZ(90deg);
    transform: rotateZ(90deg); }
    .column-1 > div:first-child {
      border-top: 1px solid;
      border-right: 1px solid; }
    .column-1 > div:nth-child(2) {
      border-left: none; }
    .column-1 > div:last-child {
      border-right: 1px solid; }
  .column-2 > div {
    border: 1px solid;
    border-right: none;
    display: inline-block;
    -webkit-transform: rotateZ(180deg);
    -moz-transform: rotateZ(180deg);
    transform: rotateZ(180deg); }
    .column-2 > div:last-child {
      border-left: none; }
  .column-3 > div {
    border: 1px solid;
    border-right: none;
    -webkit-transform: rotateZ(270deg);
    -moz-transform: rotateZ(270deg);
    transform: rotateZ(270deg); }
    .column-3 > div:first-child {
      border-bottom: 1px solid;
      border-right: 1px solid; }
    .column-3 > div:nth-last-child(2) {
      border-left: none; }
    .column-3 > div:last-child {
      border-right: 1px solid; }
  .column-4 > div {
    border: 1px solid;
    border-right: none;
    display: inline-block; }
    .column-4 > div:first-child {
      border-left: none; }

/* end of column- */
.center-cell {
  width: 900px;
  height: 900px; }

/* ------ CELL TYPES ------ */
.property-cell, .utility-cell, .ball-cell, .attack-cell, .legendary-cell, .go-cell, .jail-cell, .gotojail-cell {
  text-align: center;
  position: relative; }
  .property-cell span, .property-cell img, .utility-cell span, .utility-cell img, .ball-cell span, .ball-cell img, .attack-cell span, .attack-cell img, .legendary-cell span, .legendary-cell img, .go-cell span, .go-cell img, .jail-cell span, .jail-cell img, .gotojail-cell span, .gotojail-cell img {
    display: block; }

.property-cell span.name, .ball-cell span.name, .attack-cell span.name, .legendary-cell span.name {
  font-family: "Slabo 27px", serif;
  font-size: 18px;
  margin: 0; }
.property-cell span.city, .ball-cell span.city, .attack-cell span.city, .legendary-cell span.city {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-size: 10px;
  margin: 0 0 5px 0; }
.property-cell span.value, .ball-cell span.value, .attack-cell span.value, .legendary-cell span.value {
  font-family: "Raleway", sans-serif;
  font-size: 13px; }
.property-cell span.owner, .ball-cell span.owner, .attack-cell span.owner, .legendary-cell span.owner {
  width: 15px;
  height: 15px;
  position: absolute;
  bottom: 8px;
  right: 10px;
  border: 1px solid; }
.property-cell img, .ball-cell img, .attack-cell img, .legendary-cell img {
  height: 65px;
  width: 65px;
  margin: 5px auto 0; }

.ball-cell span.name {
  margin: 0 0 3px 0; }
.ball-cell img {
  margin: 10px auto 5px; }

.attack-cell img, .legendary-cell img {
  margin: 10px auto 0;
  height: 75px;
  width: 75px; }

.legendary-cell.zapdos img {
  margin: 0 auto; }

.go-cell > div {
  padding: 10px 35px 40px;
  -webkit-transform: rotateZ(-45deg);
  -moz-transform: rotateZ(-45deg);
  transform: rotateZ(-45deg);
  overflow: hidden; }
  .go-cell > div span.title {
    font-family: "Slabo 27px", serif;
    color: #0d4da4;
    font-weight: bold;
    font-size: 15px;
    margin: 0 0 10px 4px; }
  .go-cell > div img {
    width: 110px;
    position: relative;
    left: -15px; }

/* ------ END CELL TYPES  ------ */
/* ------ WELCOME MODAL  ------ */
.start-modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  text-align: center; }
  .start-modal:after {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle; }

.content {
  width: 900px;
  border: 2px solid #ffcb05;
  box-shadow: 0 0 15px rgba(255, 203, 5, 0.5);
  padding: 40px;
  text-align: center;
  background-color: #FFF;
  vertical-align: middle;
  display: inline-block; }
  .content img.logo {
    width: 600px;
    display: block;
    margin: 0 auto; }
  .content a {
    color: #FFF;
    display: block;
    background-color: #009933;
    padding: 20px 0;
    margin: 0 auto;
    width: 300px;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    transition: 0.5s; }
    .content a:hover {
      cursor: pointer;
      background: #00802b; }
    .content a.disabled {
      background-color: #bfbfbf;
      cursor: default; }

.players {
  text-align: justify;
  margin: 20px 0 0 0; }
  .players:after {
    content: '';
    width: 100%;
    display: inline-block; }
  .players > div {
    width: 49%;
    display: inline-block;
    padding: 20px; }
    .players > div img {
      width: 60px;
      vertical-align: bottom; }
    .players > div span {
      display: inline-block; }
  .players h3 {
    color: #000;
    text-align: center;
    margin: 0 0 10px 0;
    font-size: 22px; }
  .players input[type="text"] {
    font-family: "Slabo 27px", serif;
    padding: 8px;
    outline: none;
    margin: 0 10px;
    font-size: 15px;
    width: 250px; }
  .players input[type="radio"] {
    display: none; }
    .players input[type="radio"] + label {
      display: inline-block;
      width: 70px;
      height: 75px; }
      .players input[type="radio"] + label.ash-1, .players input[type="radio"] + label.ash-2 {
        background: url("../images/ash_gray_70.png") no-repeat; }
      .players input[type="radio"] + label.misty-1, .players input[type="radio"] + label.misty-2 {
        background: url("../images/misty_gray_70.png") no-repeat; }
      .players input[type="radio"] + label.brock-1, .players input[type="radio"] + label.brock-2 {
        background: url("../images/brock_gray_70.png") no-repeat; }
    .players input[type="radio"]:checked + label {
      display: inline-block;
      width: 60px;
      height: 70px; }
      .players input[type="radio"]:checked + label.ash-1, .players input[type="radio"]:checked + label.ash-2 {
        background: url("../images/ash_70.png"); }
      .players input[type="radio"]:checked + label.misty-1, .players input[type="radio"]:checked + label.misty-2 {
        background: url("../images/misty_70.png"); }
      .players input[type="radio"]:checked + label.brock-1, .players input[type="radio"]:checked + label.brock-2 {
        background: url("../images/brock_70.png"); }
  .players .player-1 {
    background-color: rgba(118, 184, 225, 0.3);
    border: 1px solid #76b8e1; }
    .players .player-1 h3 {
      color: #58a8da; }
    .players .player-1 input[type="text"] {
      border: 1px solid #58a8da; }
      .players .player-1 input[type="text"]:focus {
        border: 1px solid #76b8e1;
        box-shadow: 0 0 10px #76b8e1; }
  .players .player-2 {
    background-color: rgba(228, 143, 137, 0.3);
    border: 1px solid #e48f89; }
    .players .player-2 h3 {
      color: #de756e; }
    .players .player-2 input[type="text"] {
      border: 1px solid #de756e; }
      .players .player-2 input[type="text"]:focus {
        border: 1px solid #e48f89;
        box-shadow: 0 0 10px #e48f89; }

/* ------ END WELCOME MODAL  ------ */

/*# sourceMappingURL=styles.css.map */
